@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  vertical-align: baseline;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden],
template {
  display: none;
}

a {
  background-color: rgba(0, 0, 0, 0);
  color: #064c0b;
  font-weight: bold;
}

a:active,
a:hover {
  outline: 0;
  color: #43ea6d;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2vw;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5vw;
  line-height: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

.w-button {
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  color: #3898ec;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  background: none;
}

.bubbly-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 230px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #3898ec;
  color: #3898ec;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.bubbly-button:hover {
  background: #ecececba;
}
.bubbly-button:active {
  letter-spacing: 2px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin: 0 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

button,
[type='button'],
[type='reset'] {
  cursor: pointer;
}

.w-form {
  margin: 0 0 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.w-input,
.w-select {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.w-input::placeholder,
.w-select::placeholder {
  color: #999;
}

.w-input:focus,
.w-select:focus {
  border-color: #3898ec;
  outline: 0;
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
  cursor: not-allowed;
}

.w-input[disabled]:not(.w-input-disabled),
.w-select[disabled]:not(.w-input-disabled),
.w-input[readonly],
.w-select[readonly],
fieldset[disabled]:not(.w-input-disabled) .w-input,
fieldset[disabled]:not(.w-input-disabled) .w-select {
  background-color: #eee;
}

textarea.w-input,
textarea.w-select {
  height: auto;
}

.w-select {
  background-color: #f3f3f3;
}

.w-select[multiple] {
  height: auto;
}

.w-row:before,
.w-row:after {
  content: ' ';
  grid-area: 1/1/2/2;
  display: table;
}

.w-row:after {
  clear: both;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-ix-emptyfix:after {
  content: '';
}

:root {
  --white: #5f5681;
  --black: black;
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.heading-2 {
  padding-left: 20px;
  font-family: Open Sans, sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.paragraph {
  padding-left: 30px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.div-block {
  background-color: #f1feff;
  border-radius: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1424px;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.list-1 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: flex;
}

.list-1._1 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.italic-text,
.italic-text-2,
.italic-text-3 {
  padding-left: 30px;
  font-weight: 500;
}

.list-2 {
  padding-left: 50px;
  font-size: 16px;
}

.main-block {
  z-index: 0;
  background-image: linear-gradient(
    #e6ecffaf,
    #e6ecffaf,
    #80ddffaf,
    #f2f5ffaf,
    #ffffffaf
  );
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  justify-content: space-around;
  max-width: 100%;
  min-width: auto;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
}

.number {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
  margin-left: 5%;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 160%;
}

.section {
  z-index: 1;
  background-color: #fff;
  background-image: none;
}

.headerr {
  z-index: 6;
  box-shadow: 5px 5px 11px -5px var(--white);
  background-color: #fcfefe;
  background-image: radial-gradient(circle, #fff, #d6d8fc 54%, #c3f9f3);
  border: 2px #000;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  display: flex;
}

.heading-3 {
  color: #323232;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  font-size: 34px;
  line-height: 160%;
}

.div-block-9 {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.line {
  z-index: 4;
  justify-content: center;
  align-items: center;
  line-height: 160%;
  display: flex;
}

.div-block-10 {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 160px;
  min-height: 100px;
  margin-right: 5px;
  display: flex;
  box-shadow: 0 5px 10px rgba(105, 18, 192, 0.4196078431);
}

.div-block-10:hover {
  width: 160px;
  box-shadow: 0 5px 10px 1px #b8ffe2;
}

.line-txt {
  background-color: #83eeff8a;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 170px;
  padding: 30px;
  display: flex;
}

.line-icons {
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  display: flex;
}

.paragraph-11 {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 159%;
}

.div-block-18 {
  z-index: 2;
  max-width: 1100px;
}

.form-div {
  z-index: 99;
  color: #000;
  background-color: rgba(91, 201, 211, 0.9019607843);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 160%;
  display: none;
  position: fixed;
  inset: 0%;
  display: none;
}

.heading-4 {
  color: #14bb40;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}

.close {
  cursor: pointer;
  background-color: #eccbcb;
  border-radius: 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60px;
  min-height: 60px;
  display: flex;
  position: absolute;
  inset: -29px -7% auto auto;
}

.close:hover {
  background-color: #f09c9c;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.close:active {
  background-color: #eecbcb;
}

.clos-line {
  background-color: #d65151;
  border-radius: 10px;
  width: 40px;
  height: 6px;
  position: absolute;
  transform: rotate(45deg);
}

.clos-line._1 {
  background-color: #a52d2d;
  border-radius: 10px;
  width: 40px;
  height: 6px;
  position: absolute;
  transform: rotate(-45deg);
}

.form-block-3 {
  background-color: #fff;
  border-radius: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  min-height: 400px;
  padding: 9px;
  display: flex;
  position: relative;
}

.form-3 {
  color: #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 160%;
  display: flex;
}

.submit-button-2 {
  color: #000;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  padding-left: 0;
  padding-right: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

.submit-button-2:hover {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.submit-button-2:active {
  transform: translate(2px, 2px);
}

.text-field-5 {
  color: #000;
  border-radius: 10px;
  max-width: 500px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

.text-field-6 {
  color: #000;
  border-radius: 10px;
  max-width: 500px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

.heading-form {
  color: #000;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-family: Roboto, sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
}

.field-label-2,
.field-label-3,
.field-label-4 {
  color: #000;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}

.success-message-2,
.text-block,
.error-message-2,
.text-block-2 {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  /* line-height: 160%; */
}

.vector {
  background-color: #a259ff;
}

.paragraph-18,
.paragraph-20 {
  padding-left: 30px;
  font-size: 16px;
  font-weight: 700;
}

.div-block-19 {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-line-icons {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin-left: 5px;
  display: flex;
}

.div-txt {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  background-color: #f1feff;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.paragraph-22 {
  color: #333;
  text-align: left;
  font-size: 14px;
  line-height: 160%;
}

.div-block-23 {
  max-width: 982px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.column-1 {
  display: none;
  flex-direction: column;
}

.column-2 {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  display: none;
  flex-direction: column;
}

.column-3 {
  display: none;
  flex-direction: column;
}

.column-4 {
  display: none;
  flex-direction: column;
}

.column-5 {
  display: none;
  flex-direction: column;
}

.heading-9 {
  text-align: left;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  width: 255px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  line-height: 150%;
}

.img-phone,
.img-impl {
  max-width: 40px;
}

.line-txt-2 {
  background-color: #79bfeb;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 390px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.div-content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  display: flex;
}

.div-photo-3 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  display: flex;
}

.div-grid {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  max-width: 500px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  display: flex;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.div-grid.visible {
  opacity: 1;
  transform: translateX(0);
}

.div-grid.hidden {
  transform: translateX(100px);
}

.image-17 {
  border-radius: 20px;
  width: auto;
  min-width: 350px;
  max-width: 450px;
  height: auto;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.2);
}

.txt-up {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto auto auto auto;
  margin-bottom: 4%;
  padding-bottom: 20px;
  padding: 3%;
  display: flex;
  opacity: 0;
  animation: slideInFromRight 1s ease-out forwards;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  box-shadow: 6px 6px 10px rgba(128, 247, 255, 0.574);
  /* max-width: 100%; */
}

.txt-up-2 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 14%;
  margin-left: 3%;
  padding: 3%;
  display: flex;
  opacity: 0;
  animation: slideInFromRight 1s ease-out forwards;
  background: linear-gradient(
    rgb(255, 255, 255),
    rgba(249, 255, 255, 0.5),
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 2em;
  box-shadow: 6px 6px 10px rgba(128, 247, 255, 0.574);
  /* max-width: 100%; */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.txt-down {
  justify-content: space-around;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.txt-p {
  color: #3b3b3b;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  min-width: 250px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #eeeeff;
  background: #ea4bfc;
  background: linear-gradient(
    90deg,
    rgb(243, 97, 238) 0%,
    rgb(163, 52, 178) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button::before {
  content: '';
  border-radius: 800px;
  min-width: 262px;
  min-height: 72px;
  border: 6px solid #dd00ff;
  box-shadow: 0 0 60px rgba(255, 0, 251, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eeeeff;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  transform: translateY(-6px);
  color: #eeeeff;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
  color: #eeeeff;
}

.button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ff00ff;
  position: absolute;
  z-index: -1;
  color: #eeeeff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

.btn_header {
  animation: none;
  transition: none;
}

.btn_header::after {
  animation: none;
  transition: none;
}

.btn_header::before {
  animation: none;
  transition: none;
}

.implantation {
  color: #3a7fed;
}

.implantation:active,
.implantation:hover {
  color: #0b0e9c;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.paragraph-24 {
  margin-bottom: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.paragraph-26 {
  text-align: left;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 0;
  font-size: 15px;
}

.column-txt {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.advantages {
  background-color: #d3f0ff;
  padding: 40px 30px;
}

.main {
  justify-content: center;
  align-items: center;
  min-height: 390px;
  display: flex;
}

.div-left {
  max-width: 36%;
}

.paragraph-27 {
  font-family: Roboto, sans-serif;
  font-size: 31px;
  font-weight: 700;
  line-height: 115%;
}

.div-block-24 {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: relative;
  bottom: -15px;
}

.paragraph-28 {
  max-width: 400px;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  line-height: 130%;
}

.text-span {
  font-weight: 700;
}

.div-line-v {
  background-color: #76d583;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 2px;
  height: 100%;
  min-height: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

.div-block-txt {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 450px;
  display: flex;
}

.div-centr {
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  padding-right: 10px;
  display: flex;
}

.div-down {
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 10px;
  display: flex;
}

.paragraph-30 {
  font-size: 15px;
}

.div-line-hero-2 {
  justify-content: space-around;
  align-items: center;
  min-height: 216px;
  padding: 10px 30px;
  display: flex;
}

.image-18 {
  border-radius: 20px;
  width: auto;
  min-width: 350px;
  max-width: 355px;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 2px 2px 10px 30px rgba(162, 255, 217, 0.2),
    2px 2px 0 10px rgba(0, 0, 0, 0.2), 2px 2px 0 20px rgba(0, 0, 0, 0.2);
}

.bold-text {
  font-size: 14px;
  font-weight: 700;
}

.div-line-g {
  color: #151515;
  background-color: #b1b1b1;
  width: 100%;
  max-width: 1100px;
  height: 2px;
}

.list-3,
.list-4 {
  font-size: 16px;
  line-height: 20px;
}

.list-5,
.list-6 {
  font-size: 16px;
}

.list-item,
.list-item-2,
.list-item-3,
.list-item-4,
.list-item-5,
.list-item-7 {
  padding-bottom: 10px;
}

.list-7,
.list-8,
.list-9,
.list-10 {
  font-size: 16px;
}

.list-item-8,
.list-item-9,
.list-item-10,
.list-item-11,
.list-item-12,
.list-item-13,
.list-item-14 {
  padding-bottom: 10px;
}

.list-11,
.list-12,
.list-13,
.list-14,
.list-15,
.list-16 {
  font-size: 16px;
}

.w-form-done {
  text-align: center;
  border-radius: 15px;
  font-size: 2em;
  background-color: #ddd;
  padding: 20px;
  z-index: 100;
  display: none;
}

.w-form-fail {
  border-radius: 15px;
  font-size: 2em;
  text-align: center;
  background-color: #ffdede;
  padding: 20px;
  z-index: 100;
  display: none;
}

.w-form-done-2 {
  text-align: center;
  border-radius: 15px;
  font-size: 2em;
  background-color: #ddd;
  padding: 20px;
  z-index: 100;
  display: none;
}

.w-form-fail-2 {
  border-radius: 15px;
  font-size: 2em;
  text-align: center;
  background-color: #ffdede;
  padding: 20px;
  z-index: 100;
  display: none;
}

.div-block-25 {
  text-align: left;
}

.image-19 {
  width: auto;
  min-width: 250px;
  max-width: 450px;
  height: auto;
  margin-left: 5px;
  margin-right: auto;
  animation: slideInFromLeft 1s ease-out forwards;
  opacity: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.div-block-26 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.heder {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  display: flex;
}

.image-23 {
  max-width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.image-24,
.image-25 {
  max-width: 40px;
}

.heading-11 {
  text-decoration: none;
}

.form-line {
  background-color: #d3f0ff;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  display: block;
}

.div-txt3 {
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  max-width: 500px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.div-form-1 {
  flex: 1;
  max-width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.heading-12 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.paragraph-34 {
  color: #000;
  padding-top: 10px;
  font-size: 17px;
}

.field-label-5,
.field-label-6 {
  color: #000;
}

.form-4 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 7%;
}

.blue-line {
  background-color: #3898ec;
  min-width: 100px;
  min-height: 2px;
  padding-bottom: 0;
}

.line-txt-3 {
  background-image: url(../images/question.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.name {
  text-align: center;
  max-width: 490px;
  margin-top: 10px;
}

.paragraph-38 {
  text-align: left;
  max-width: 490px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 125%;
}

.paragraph-39,
.paragraph-40,
.paragraph-41 {
  color: #000;
  max-width: 490px;
  font-size: 20px;
}

.heading-13 {
  color: #333;
  justify-content: center;
  align-items: center;
  max-width: 390px;
  padding-left: 0;
  font-size: 26px;
  line-height: 25px;
}

.div-main1,
.div {
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-28 {
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  max-width: 1300px;
  display: flex;
  overflow-x: visible;
}

.paragraph-42 {
  color: #333;
  max-width: 390px;
  font-size: 15px;
  font-weight: 500;
}

.div-block-30 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 390px;
  display: flex;
}

.div-block-31 {
  flex-flow: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  display: flex;
}

.paragraph-45 {
  font-weight: 700;
}

.image-27 {
  width: 30px;
}

.text-block-4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-weight: 700;
  line-height: 160%;
  color: rgb(56, 56, 56);
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  font-size: 50px;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

.list {
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .div-block-9 {
    width: 390px;
  }
  .txt-down {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
  .div-left {
    max-width: 47%;
  }
  .div-line-hero-2 {
    justify-content: center;
  }
  .image-18 {
    display: none;
  }
  .div-block-26 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .main-block {
    justify-content: center;
    align-items: center;
  }
  .heading-4 {
    font-size: 11px;
  }
  .img-impl {
    display: none;
  }
  .div-content {
    justify-content: center;
  }
  .image-17 {
    display: none;
  }
  .txt-up {
    margin-right: auto;
  }
  .paragraph-27 {
    font-size: 27px;
  }
  .image-19 {
    width: 100%;
    margin-left: auto;
    animation: slideInFromLeft 1s ease-out forwards;
    opacity: 0;
  }
  .div-main1 {
    justify-content: space-between;
    align-items: flex-start;
  }
  .div-block-28 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 479px) {
  .main-block {
    background-image: linear-gradient(90deg, #6ee9f4, #b8d7f0);
    background-repeat: repeat;
    background-size: auto;
    background-attachment: scroll;
  }
  .headerr {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .heading-3 {
    font-size: 30px;
  }
  .div-block-9 {
    width: 300px;
  }
  .div-block-10 {
    margin-top: 10px;
  }
  .line-icons {
    margin-top: 10px;
    display: none;
  }
  .form-div {
    display: flex;
  }
  .heading-4 {
    font-size: 18px;
  }
  .close {
    max-width: 40px;
    min-height: 40px;
  }
  .clos-line,
  .clos-line._1 {
    width: 25px;
    height: 4px;
  }
  .div-line-icons {
    flex-flow: column;
    justify-content: center;
  }
  .img-impl {
    display: none;
  }
  .line-txt-2,
  .div-photo-3 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .txt-up._1 {
    border-top: 3px solid #d3f0ff;
    transition: 1s;
  }
  .btn._1,
  .column-txt {
    display: none;
  }
  .advantages {
    border-radius: 20px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }
  .div-left {
    max-width: 100%;
  }
  .div-line-v {
    display: none;
  }
  .div-down {
    justify-content: center;
    align-items: flex-start;
    padding-left: 0;
  }
  .image-18 {
    display: none;
  }
  .image-19 {
    min-height: 150px;
  }
  .form-line,
  .line-txt-3 {
    border-radius: 20px;
  }
  .div-main1 {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
  .text-block-4 {
    font-size: 30px;
    line-height: 120%;
  }
}
